@import "../base/variables";

.payment {background: url('../img/p6.png') repeat; img{max-width: 80%; height: 200px;} .container{margin-top: 40px;} .bring{font-weight: bold; font-size: 20px;} border-top: 2px solid #599859; padding-bottom: 50px; background: #d4dce4;}