.why-we {padding: 50px 0; background: url("images/section4/why-we-bg.png")no-repeat center/cover;
  .usual-header{color: white; margin-bottom: 25px;}
  .container .col-md-4{text-align: center; color: white; img{margin-top: 20px;} .description{ font-family: HelveticaNeueCyr-light; font-size: 29px; margin-top: 20px;}}
}