@import "variables";
h1 {font-family: 'Arima Madurai', cursive; font-size: 34px; color: white;}
h2 {font-family: 'Open-Sans', sans-serif; font-size: 44px; color: white; text-transform: uppercase; margin-top: 8%;}
h4 { font-size: 26px;  margin-top: 4%; @extend h2; text-transform: none;}
h2.recently-items {font-size: 32px; margin: 3% 0 3% 0; color: $bg-grey; text-transform: none;}
h5.free-app {font-size: 24px; display: inline-block; color: white; font-family: 'Open-Sans', sans-serif;
  pre{color: darken(white, 20); display: inline-block;}}
.sign-up { @extend h2; font-size: 14px; text-transform: lowercase; }
.download:hover h5.free-app {color: $bg-orange; transition: 500ms;}
.download:hover h5.free-app pre {color: darken($bg-orange, 20); transition: 500ms;}