@import "../variables";

form {.text-data {
  font-family: 'Segoe UI';
  font-size: 29px;
  color: $main-color-red;
  font-weight: 100;
  border: 1px solid #a7a7a7;
  width: 100%;
  margin-bottom: 20px;
  display: block;
}
  input.text-data:focus {
    outline: none;
  }

  .submit {
    @extend a.get-consultation;
    &:hover {background: $main-background-red;}
    outline: none;
  }}

.modal, .modal-conf {
  .container {
    width: 100%;
  }
}

.modal-pall, .modal-pall-conf {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(33, 31, 30, 0.88);
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
}
.modal, .modal-conf{
  display: none;
  width: 600px;
  position: absolute;
  margin-left: -300px;
  top: 50%;
  left: 50%;
  height: 500px;
  margin-top: -250px;
  background: #fafafa;
  border-radius: 7px;
}
.modal-header {
  position: relative;
  height: 30px;
  border: none;
}
.modal-body {
  padding: 20px;
  text-align: center;
  overflow: auto;
  height: 95%;
  .wrap-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 15px;
  }
  p {
    text-align: left;
  }
}
.modal h2 {
  margin-top: 0;
  padding-bottom: 30px;
}
.modal .close-modal, .modal-conf .close-modal {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  right: 20px;
  top: 12px;
  opacity: .6;
  transition: all .5s ease;
  &:hover {
    opacity: 1;
  }
}
.modal .close-modal:before,
.modal .close-modal:after {
  top: 0;
  left: 9px;
}
.modal .close-modal:before {
  transform: rotate(45deg);
}
.modal .close-modal:after {
  transform: rotate(-45deg);
}
.visible {
  visibility: visible;
}

.close-modal:before {
  content: '';
  display: block;
  height: 25px;
  width: 4px;
  background: #3c3c3c;
  transform: rotate(90deg);
  position: absolute;
  top: 17px;
  left: 8px;
  border-radius: 10px;
}
.close-modal:after {
  content: '';
  display: block;
  height: 25px;
  width: 4px;
  background: #3c3c3c;
  position: absolute;
  top: 17px;
  left: 8px;
  border-radius: 10px;
  transition: all .5s ease;
}

.modal, .modal-conf {
  input {
    margin-bottom: 20px;
    padding: 5px 15px;
    font-size: 25px;
  }
}

.application-wrap {
  border: 1px solid #ac2107;
  border-radius: 2px;
  padding: 42px 38px;
  margin-bottom: 100px;
}

@media (max-width: 630px) {
  .modal, .modal-conf {
    width: 320px;
    margin-left: -160px;
    h2 {
      font-size: 30px;
    }
    input {
      padding: 10px;
    }
    .submit {
      font-size: 22px;
      width: 100%;
    }
  }
}