@import url(../fonts/_fonts.css);
@import url(../fonts/_fonts.css);
@import url(../fonts/_fonts.css);
@import url(../fonts/_fonts.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: HelveticaNeueCyr-medium;
  font-weight: normal; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

button, h2, h4 {
  text-transform: uppercase; }

.divider {
  width: 100%;
  height: 1px;
  background: black; }

@media (min-width: 1000px) {
  .container {
    width: 950px; } }
@media (min-width: 1100px) {
  .container {
    width: 1050px; } }
@media (min-width: 1200px) {
  .container {
    width: 1150px; } }
@media (min-width: 1300px) {
  .container {
    width: 1260px; } }
@media (min-width: 1450px) {
  .container {
    width: 1400px; } }
@media (min-width: 1650px) {
  .container {
    width: 1519px; } }
.top-fix {
  background: url("images/section1/bg-top.png") no-repeat center/cover;
  color: white; }
  .top-fix .owl-carousel {
    width: 600px;
    position: relative;
    margin: 25px 0; }
    .top-fix .owl-carousel img {
      width: 600px; }
    .top-fix .owl-carousel .owl-nav {
      display: block;
      position: absolute;
      top: 41%;
      width: 100%; }
      .top-fix .owl-carousel .owl-nav .owl-prev {
        position: absolute;
        left: -55px;
        width: 43px;
        height: 47px;
        background: url("images/section1/arrow-left.png") no-repeat center; }
      .top-fix .owl-carousel .owl-nav .owl-next {
        position: absolute;
        right: -55px;
        width: 43px;
        height: 47px;
        background: url("images/section1/arrow-right.png") no-repeat center; }
    .top-fix .owl-carousel .owl-stage-outer {
      border: 3px solid white; }
  .top-fix .top-head-panel {
    display: table;
    width: 100%;
    margin: 20px auto 50px auto; }
    .top-fix .top-head-panel .col-md-6 {
      font-size: 25px; }
      .top-fix .top-head-panel .col-md-6 a {
        color: white; }
  .top-fix h2.main-header {
    font-family: HelveticaNeueCyr-bold;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin: 100px auto 50px auto; }

.price-time {
  padding: 30px;
  margin: 25px 0;
  width: 100%;
  border: 2px solid #e59714;
  max-width: 680px;
  float: right; }
  .price-time h4 {
    font-family: HelveticaNeueCyr-medium;
    font-size: 42px;
    color: #ffb21c;
    text-align: center;
    margin-bottom: 32px; }
  .price-time h5 {
    font-size: 35px;
    font-family: HelveticaNeueCyr-light;
    margin-bottom: 30px;
    color: white;
    text-align: center; }
    .price-time h5 span {
      font-family: HelveticaNeueCyr-medium;
      font-size: 40px;
      color: #ffb21c; }
  .price-time .container {
    padding: 0;
    width: 100%;
    margin: 30px auto 15px auto; }
    .price-time .container li {
      font-family: HelveticaNeueCyr-light;
      font-size: 18px;
      text-align: center;
      position: relative; }
      .price-time .container li:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #FFB21C;
        right: -7%;
        top: 40%; }
  .price-time .container li:last-child:after {
    display: none; }
  .price-time .container li:nth-child(3):after {
    right: 3%; }

@media (max-width: 1450px) {
  .top-fix .col-md-6 .owl-carousel {
    width: 550px; }
    .top-fix .col-md-6 .owl-carousel img {
      width: 550px; } }
@media (max-width: 1340px) {
  .top-fix .col-md-6 .owl-carousel {
    width: 500px; }
    .top-fix .col-md-6 .owl-carousel img {
      width: 500px; } }
@media (max-width: 1260px) {
  .top-fix .col-md-6:nth-child(4) {
    float: none; }
  .top-fix .col-md-6:nth-child(3), .top-fix .col-md-6:nth-child(4) {
    float: none;
    margin: 25px auto;
    text-align: center;
    width: 100%; }
  .top-fix .owl-carousel {
    margin: 25px auto; }
  .top-fix .price-time {
    float: none;
    margin: 50px auto 25px auto; } }
@media (max-width: 1260px) and (max-width: 1000px) {
  .top-fix .container .price-time .container li:after {
    display: none; } }
@media (max-width: 1260px) and (max-width: 760px) {
  .top-fix .container .owl-carousel {
    width: 500px; }
    .top-fix .container .owl-carousel img {
      width: 500px; }

  .top-fix .container .main-header {
    font-size: 42px;
    margin-top: 75px; }

  .top-fix .container .top-head-panel .col-sm-6 {
    text-align: center; } }
@media (max-width: 1260px) and (max-width: 650px) {
  .top-fix .container .owl-carousel {
    width: 400px; }
    .top-fix .container .owl-carousel img {
      width: 400px; }

  .top-fix .container .top-head-panel .top-head {
    text-align: center;
    font-size: 22px; }

  .top-fix .container .top-head-panel .text-right .place-contacts {
    margin: 10px auto;
    font-size: 18px; }

  .top-fix .top-head-panel .col-md-6 .order-call {
    font-size: 18px; } }
@media (max-width: 1260px) and (max-width: 605px) {
  .top-fix .owl-carousel .owl-nav {
    position: static; }

  .top-fix .owl-carousel .owl-nav .owl-prev {
    position: static;
    margin-right: 20px;
    padding: 30px 40px;
    border-radius: 4px; }
    .top-fix .owl-carousel .owl-nav .owl-prev:hover {
      opacity: 0.8;
      transition: all .6s ease; }

  .top-fix .owl-carousel .owl-nav .owl-next {
    position: static;
    margin-left: 20px;
    padding: 30px 40px;
    border-radius: 4px; }
    .top-fix .owl-carousel .owl-nav .owl-next:hover {
      opacity: 0.8;
      transition: all .6s ease; }

  .top-fix .price-time {
    margin-top: 30px; } }
@media (max-width: 1260px) and (max-width: 650px) {
  .big {
    display: none; }

  .small {
    display: block !important; } }
@media (max-width: 1260px) and (max-width: 550px) {
  .top-fix .container .owl-carousel {
    width: 300px; }
    .top-fix .container .owl-carousel img {
      width: 300px; }

  .top-fix .container .main-header {
    font-size: 30px;
    margin-top: 50px; }

  .usual-header {
    font-size: 28px; }

  .compare-fix .container {
    overflow: auto; }
    .compare-fix .container .compare-table {
      font-size: 13px; }

  .price-time {
    padding: 10px; } }
@media (max-width: 1260px) and (max-width: 400px) {
  .small {
    display: none !important; }

  .very-small {
    display: block !important; }

  .price-time h5 span {
    font-size: 34px; } }
@media (max-width: 1260px) and (max-width: 350px) {
  .top-fix .container .owl-carousel {
    width: 260px; }
    .top-fix .container .owl-carousel img {
      width: 260px; } }
.compare-fix {
  padding: 50px 0;
  color: #616161; }
  .compare-fix .compare-table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; }
  .compare-fix table tr:nth-child(1) td {
    text-align: center; }
  .compare-fix td {
    border: 1px solid black;
    padding: 10px 15px; }

.usual-header {
  font-size: 38px;
  color: #046b60;
  margin: 0 auto 40px auto;
  text-align: center; }

@media (max-width: 450px) {
  .compare-fix table tr td {
    padding: 7px 3px;
    padding-right: 2px; } }
.top-fix {
  background: url("images/section1/bg-top.png") no-repeat center/cover;
  color: white; }
  .top-fix .owl-carousel {
    width: 600px;
    position: relative;
    margin: 25px 0; }
    .top-fix .owl-carousel img {
      width: 600px; }
    .top-fix .owl-carousel .owl-nav {
      display: block;
      position: absolute;
      top: 41%;
      width: 100%; }
      .top-fix .owl-carousel .owl-nav .owl-prev {
        position: absolute;
        left: -55px;
        width: 43px;
        height: 47px;
        background: url("images/section1/arrow-left.png") no-repeat center; }
      .top-fix .owl-carousel .owl-nav .owl-next {
        position: absolute;
        right: -55px;
        width: 43px;
        height: 47px;
        background: url("images/section1/arrow-right.png") no-repeat center; }
    .top-fix .owl-carousel .owl-stage-outer {
      border: 3px solid white; }
  .top-fix .top-head-panel {
    display: table;
    width: 100%;
    margin: 20px auto 50px auto; }
    .top-fix .top-head-panel .col-md-6 {
      font-size: 25px; }
      .top-fix .top-head-panel .col-md-6 a {
        color: white; }
  .top-fix h2.main-header {
    font-family: HelveticaNeueCyr-bold;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin: 100px auto 50px auto; }

.price-time {
  padding: 30px;
  margin: 25px 0;
  width: 100%;
  border: 2px solid #e59714;
  max-width: 680px;
  float: right; }
  .price-time h4 {
    font-family: HelveticaNeueCyr-medium;
    font-size: 42px;
    color: #ffb21c;
    text-align: center;
    margin-bottom: 32px; }
  .price-time h5 {
    font-size: 35px;
    font-family: HelveticaNeueCyr-light;
    margin-bottom: 30px;
    color: white;
    text-align: center; }
    .price-time h5 span {
      font-family: HelveticaNeueCyr-medium;
      font-size: 40px;
      color: #ffb21c; }
  .price-time .container {
    padding: 0;
    width: 100%;
    margin: 30px auto 15px auto; }
    .price-time .container li {
      font-family: HelveticaNeueCyr-light;
      font-size: 18px;
      text-align: center;
      position: relative; }
      .price-time .container li:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #FFB21C;
        right: -7%;
        top: 40%; }
  .price-time .container li:last-child:after {
    display: none; }
  .price-time .container li:nth-child(3):after {
    right: 3%; }

@media (max-width: 1450px) {
  .top-fix .col-md-6 .owl-carousel {
    width: 550px; }
    .top-fix .col-md-6 .owl-carousel img {
      width: 550px; } }
@media (max-width: 1340px) {
  .top-fix .col-md-6 .owl-carousel {
    width: 500px; }
    .top-fix .col-md-6 .owl-carousel img {
      width: 500px; } }
@media (max-width: 1260px) {
  .top-fix .col-md-6:nth-child(4) {
    float: none; }
  .top-fix .col-md-6:nth-child(3), .top-fix .col-md-6:nth-child(4) {
    float: none;
    margin: 25px auto;
    text-align: center;
    width: 100%; }
  .top-fix .owl-carousel {
    margin: 25px auto; }
  .top-fix .price-time {
    float: none;
    margin: 50px auto 25px auto; } }
@media (max-width: 1260px) and (max-width: 1000px) {
  .top-fix .container .price-time .container li:after {
    display: none; } }
@media (max-width: 1260px) and (max-width: 760px) {
  .top-fix .container .owl-carousel {
    width: 500px; }
    .top-fix .container .owl-carousel img {
      width: 500px; }

  .top-fix .container .main-header {
    font-size: 42px;
    margin-top: 75px; }

  .top-fix .container .top-head-panel .col-sm-6 {
    text-align: center; } }
@media (max-width: 1260px) and (max-width: 650px) {
  .top-fix .container .owl-carousel {
    width: 400px; }
    .top-fix .container .owl-carousel img {
      width: 400px; }

  .top-fix .container .top-head-panel .top-head {
    text-align: center;
    font-size: 22px; }

  .top-fix .container .top-head-panel .text-right .place-contacts {
    margin: 10px auto;
    font-size: 18px; }

  .top-fix .top-head-panel .col-md-6 .order-call {
    font-size: 18px; } }
@media (max-width: 1260px) and (max-width: 605px) {
  .top-fix .owl-carousel .owl-nav {
    position: static; }

  .top-fix .owl-carousel .owl-nav .owl-prev {
    position: static;
    margin-right: 20px;
    padding: 30px 40px;
    border-radius: 4px; }
    .top-fix .owl-carousel .owl-nav .owl-prev:hover {
      opacity: 0.8;
      transition: all .6s ease; }

  .top-fix .owl-carousel .owl-nav .owl-next {
    position: static;
    margin-left: 20px;
    padding: 30px 40px;
    border-radius: 4px; }
    .top-fix .owl-carousel .owl-nav .owl-next:hover {
      opacity: 0.8;
      transition: all .6s ease; }

  .top-fix .price-time {
    margin-top: 30px; } }
@media (max-width: 1260px) and (max-width: 650px) {
  .big {
    display: none; }

  .small {
    display: block !important; } }
@media (max-width: 1260px) and (max-width: 550px) {
  .top-fix .container .owl-carousel {
    width: 300px; }
    .top-fix .container .owl-carousel img {
      width: 300px; }

  .top-fix .container .main-header {
    font-size: 30px;
    margin-top: 50px; }

  .usual-header {
    font-size: 28px; }

  .compare-fix .container {
    overflow: auto; }
    .compare-fix .container .compare-table {
      font-size: 13px; }

  .price-time {
    padding: 10px; } }
@media (max-width: 1260px) and (max-width: 400px) {
  .small {
    display: none !important; }

  .very-small {
    display: block !important; }

  .price-time h5 span {
    font-size: 34px; } }
@media (max-width: 1260px) and (max-width: 350px) {
  .top-fix .container .owl-carousel {
    width: 260px; }
    .top-fix .container .owl-carousel img {
      width: 260px; } }
.calculator {
  padding: 50px 0; }
  .calculator form {
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    padding: 20px;
    background: #046b60;
    border: 7px solid #68a6a0;
    border-radius: 8px; }
    .calculator form input {
      width: 100%;
      margin: 5px auto;
      padding: 12px;
      padding-left: 20px;
      border-radius: 3px; }
    .calculator form h4 {
      color: white;
      position: relative;
      text-align: center;
      font-size: 19px;
      text-transform: none;
      margin: 10px auto 20px auto; }
      .calculator form h4:before {
        content: "";
        position: absolute;
        width: 50%;
        bottom: -15px;
        left: 25%;
        height: 1px;
        background: white; }
    .calculator form button {
      background: #ffb21c;
      color: white;
      border: none;
      border-bottom: 4px solid #b57c14;
      font-size: 16px;
      width: 100%;
      padding: 12px;
      margin: 5px auto;
      border-radius: 3px;
      transition: all 0.4s; }
      .calculator form button:hover {
        background: #cc8d1b;
        border-bottom: 4px solid #906213; }

.why-we {
  padding: 50px 0;
  background: url("images/section4/why-we-bg.png") no-repeat center/cover; }
  .why-we .usual-header {
    color: white;
    margin-bottom: 25px; }
  .why-we .container .col-md-4 {
    text-align: center;
    color: white; }
    .why-we .container .col-md-4 img {
      margin-top: 20px; }
    .why-we .container .col-md-4 .description {
      font-family: HelveticaNeueCyr-light;
      font-size: 29px;
      margin-top: 20px; }

.how-we-work {
  border-bottom: 1px solid #ffb21c;
  padding-bottom: 60px; }
  .how-we-work h2 {
    font-family: HelveticaNeueCyr-medium;
    font-size: 37.5px;
    color: #046b60;
    text-align: center;
    padding-top: 52px;
    padding-bottom: 49px; }
  @media (max-width: 550px) {
    .how-we-work h2 {
      font-size: 28px; } }
  .how-we-work .list-wrap {
    width: 90%;
    margin: 0 auto; }
  .how-we-work .list-wrap ul li {
    font-family: HelveticaNeueCyr-medium;
    font-size: 20px;
    color: #046b60;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 55px; }
  .how-we-work .list-wrap li.one {
    background: url("images/how-we-work-icon-1.png") no-repeat;
    background-position: 1% 50%;
    height: 30px;
    line-height: 30px; }
  .how-we-work .list-wrap li.two {
    background: url("images/how-we-work-icon-2.png") no-repeat left center;
    height: 23px;
    line-height: 23px; }
  .how-we-work .list-wrap li.three {
    background: url("images/how-we-work-icon-3.png") no-repeat;
    background-position: 1% 50%;
    height: 29px;
    line-height: 29px; }
  .how-we-work .list-wrap li.four {
    background: url("images/how-we-work-icon-4.png") no-repeat left center;
    height: 34px;
    line-height: 34px; }
  .how-we-work .list-wrap li.five {
    background: url("images/how-we-work-icon-5.png") no-repeat left center;
    overflow: inherit;
    white-space: normal;
    line-height: normal; }
  .how-we-work .list-wrap li.six {
    background: url("images/how-we-work-icon-6.png") no-repeat left center;
    overflow: inherit;
    padding-left: 57px;
    height: 17px;
    line-height: 17px; }
  .how-we-work .li-block {
    padding-top: 7px;
    padding-left: 22px;
    padding-right: 5px;
    border: 1px solid #046b60;
    height: 42px;
    border-radius: 4px;
    margin-bottom: 21px; }
    .how-we-work .li-block.six-block {
      margin-bottom: 0; }
  .how-we-work .first-block {
    padding-top: 5px;
    padding-bottom: 5px; }
  .how-we-work .four-block {
    height: 44px;
    padding-top: 5px;
    padding-bottom: 5px; }
  .how-we-work .five-block {
    height: 60px; }
  .how-we-work .six-block {
    padding-top: 10px;
    padding-left: 18px; }
  .how-we-work .action {
    width: 95%;
    background: #a9cdc9;
    border: 2px solid #046b60;
    border-radius: 3px; }
  .how-we-work h3 {
    font-family: HelveticaNeueCyr-medium;
    font-size: 41.6px;
    text-transform: uppercase;
    text-align: center;
    color: #ffb21c;
    padding-top: 23px;
    padding-bottom: 28px; }
  .how-we-work h4 {
    font-family: HelveticaNeueCyr-light;
    text-transform: none;
    text-align: center;
    font-size: 37.5px;
    color: #fff; }
  .how-we-work h4 span {
    font-family: HelveticaNeueCyr-medium;
    color: #046b60; }
  .how-we-work .timer {
    font-family: HelveticaNeueCyr-light;
    font-size: 25px;
    color: #046b60;
    width: 100%;
    display: block;
    padding-top: 23px;
    padding-bottom: 12px;
    text-align: center; }
  .how-we-work span.timer-slide-old {
    display: none; }
  .how-we-work .timer-block {
    margin: 0 auto; }
  .how-we-work .get-discount {
    background: #ffb21c;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 16px 59px;
    display: block;
    margin: 27px auto 20px;
    text-transform: uppercase;
    color: #fff;
    -webkit-box-shadow: 0px 5px 0px 0px #c78a14;
    -moz-box-shadow: 0px 5px 0px 0px #c78a14;
    box-shadow: 0px 5px 0px 0px #c78a14; }
    .how-we-work .get-discount:hover {
      background: #eaa112; }
    .how-we-work .get-discount a {
      color: #fff;
      font-family: HelveticaNeueCyr-light;
      font-size: 19.5px; }
    .how-we-work .get-discount a:hover {
      text-decoration: none; }

@media (max-width: 1649px) {
  .how-we-work h4 {
    font-size: 32.5px; } }
@media (max-width: 1400px) {
  .list-wrap li.one {
    background-position: 2% 50%; } }
@media (max-width: 1299px) {
  .how-we-work h4 {
    font-size: 28.5px; }

  .how-we-work .five-block {
    height: auto;
    padding-bottom: 5px; }

  .how-we-work .list-wrap ul li {
    font-size: 18px; } }
@media (max-width: 1199px) {
  .how-we-work h4 {
    font-size: 25px; }

  .how-we-work .list-wrap {
    width: 95%; }

  .how-we-work .list-wrap ul li {
    font-size: 16px; } }
@media (max-width: 1099px) {
  .how-we-work h4 {
    font-size: 23px; }

  .how-we-work .list-wrap ul li {
    font-size: 15px; } }
@media (max-width: 991px) {
  .how-we-work .tablet-mob-list {
    margin-bottom: 50px; }

  .how-we-work h4 {
    font-size: 35px; }

  .how-we-work .action {
    margin: 0 auto; } }
@media (max-width: 470px) {
  .how-we-work h4 {
    font-size: 25px; }

  .how-we-work .big-timer {
    display: none; }

  .how-we-work .small-timer {
    display: block !important; } }
@media (max-width: 450px) {
  .how-we-work h4 {
    font-size: 22px; }

  .how-we-work .timer {
    font-size: 20px; }

  .how-we-work .get-discount {
    padding: 16px 40px; }

  .how-we-work .get-discount a {
    font-size: 16.5px; }

  .how-we-work .list-wrap li.four {
    line-height: 25px; }

  .how-we-work .list-wrap ul li {
    overflow: visible;
    white-space: normal;
    height: auto !important; }

  .how-we-work .li-block {
    height: auto;
    padding-bottom: 10px; } }
@media (max-width: 360px) {
  .how-we-work h4 {
    font-size: 18px; }

  .how-we-work .timer {
    font-size: 16px; } }
.work-examples {
  padding-bottom: 43px; }
  .work-examples h2 {
    font-family: HelveticaNeueCyr-medium;
    font-size: 37.5px;
    color: #046b60;
    text-align: center;
    padding-top: 52px;
    padding-bottom: 49px; }
  @media (max-width: 550px) {
    .work-examples h2 {
      font-size: 28px; } }
  .work-examples .owl-carousel .owl-nav .owl-prev {
    background: url("images/arrow-left.png") center no-repeat;
    width: 38px;
    height: 41px;
    position: absolute;
    top: 112px;
    left: -83px; }
  .work-examples .owl-carousel .owl-nav .owl-next {
    background: url("images/arrow-right.png") center no-repeat;
    width: 38px;
    height: 41px;
    position: absolute;
    top: 112px;
    right: -83px; }

@media (min-width: 1000px) {
  .work-examples .container {
    width: 841px; } }
@media (max-width: 1000px) {
  .work-examples .container {
    width: 800px; } }
@media (max-width: 991px) {
  .work-examples .container {
    width: 700px; }

  .owl-carousel .owl-item img {
    width: 100%; }

  .work-examples .owl-carousel .owl-nav .owl-prev {
    top: 75px;
    left: -50px; }

  .work-examples .owl-carousel .owl-nav .owl-next {
    top: 75px;
    right: -50px; } }
@media (max-width: 767px) {
  .work-examples .container {
    width: 580px; }

  .work-examples .owl-carousel .owl-nav .owl-prev {
    top: 50px;
    left: -45px; }

  .work-examples .owl-carousel .owl-nav .owl-next {
    top: 50px;
    right: -45px; } }
@media (max-width: 605px) {
  .work-examples .container {
    width: 500px; }

  .work-examples .owl-carousel .owl-nav .owl-prev {
    position: static;
    margin-right: 20px;
    padding: 30px 40px;
    border-radius: 4px; }
    .work-examples .owl-carousel .owl-nav .owl-prev:hover {
      opacity: 0.8;
      transition: all .6s ease; }

  .work-examples .owl-carousel .owl-nav .owl-next {
    position: static;
    margin-left: 20px;
    padding: 30px 40px;
    border-radius: 4px; }
    .work-examples .owl-carousel .owl-nav .owl-next:hover {
      opacity: 0.8;
      transition: all .6s ease; } }
@media (max-width: 520px) {
  .work-examples .container {
    width: 400px; }

  .work-examples .owl-carousel .owl-nav .owl-prev {
    padding: 25px 50px; }

  .work-examples .owl-carousel .owl-nav .owl-next {
    padding: 25px 50px; }

  html body .container .owl-carousel .owl-item img {
    margin: 10px auto;
    width: 100%;
    height: 100%; }

  .how-we-work .list-wrap li.one {
    line-height: 25px; } }
@media (max-width: 420px) {
  .work-examples .container {
    width: 350px; }

  .work-examples .owl-carousel .owl-nav .owl-prev {
    padding: 25px 50px; }

  .work-examples .owl-carousel .owl-nav .owl-next {
    padding: 25px 50px; } }
@media (max-width: 360px) {
  .work-examples .container {
    width: 300px; }

  .work-examples .owl-carousel .owl-nav .owl-prev {
    padding: 25px; }

  .work-examples .owl-carousel .owl-nav .owl-next {
    padding: 25px; } }
.reviews {
  background: url("images/reviews-bg.jpg") no-repeat center/cover; }
  .reviews h2 {
    font-family: HelveticaNeueCyr-medium;
    font-size: 37.5px;
    color: #fff;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 50px; }
  @media (max-width: 550px) {
    .reviews h2 {
      font-size: 28px; } }
  .reviews h4 {
    font-family: HelveticaNeueCyr-medium;
    font-size: 29px;
    text-transform: none;
    color: #046b60;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 30px; }
  .reviews p {
    font-family: HelveticaNeueCyr-medium;
    font-size: 16px;
    color: #767676;
    text-align: center; }
  .reviews .one-review {
    margin: 0 auto;
    padding: 14px 10px 43px;
    background: #fff;
    border-radius: 4px; }
  .reviews .img-wrap img {
    display: block;
    margin: 0 auto;
    width: 100%; }
  .reviews .revs {
    padding-bottom: 97px; }

.reviews form, .top-fix form {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 51px;
  text-align: center;
  border: 7px solid rgba(157, 112, 22, 0.76);
  clear: both;
  border-radius: 8px; }
  .reviews form input, .reviews form button, .top-fix form input, .top-fix form button {
    width: 100%;
    max-width: 260px;
    margin: 10px 15px;
    padding: 12px; }
  .reviews form button, .top-fix form button {
    vertical-align: top;
    background: #ffb21c;
    color: white;
    border: none;
    border-bottom: 4px solid #b57c14;
    font-size: 16px;
    transition: all 0.4s;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px; }
    .reviews form button:hover, .top-fix form button:hover {
      background: #eaa112;
      border-bottom: 4px solid #906213; }
  .reviews form input, .top-fix form input {
    color: gray;
    padding-left: 30px;
    border-radius: 3px;
    border: 1px solid #515151; }
  .reviews form label, .top-fix form label {
    position: relative;
    margin-right: 15px; }
    .reviews form label:before, .top-fix form label:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 25px;
      top: 18px;
      left: 21px; }
  .reviews form .input-name:before, .top-fix form .input-name:before {
    background: url("images/section1/people-form.png") no-repeat center center; }
  .reviews form .input-phone:before, .top-fix form .input-phone:before {
    background: url("images/section1/phone-form.png") no-repeat center center; }
  .reviews form .leave-order, .top-fix form .leave-order {
    padding: 0 !important; }
  .reviews form .leave-order, .top-fix form .leave-order {
    color: #333333;
    margin-bottom: 25px;
    text-transform: none;
    font-size: 21px;
    position: relative; }
    .reviews form .leave-order:before, .top-fix form .leave-order:before {
      content: "";
      position: absolute;
      width: 50%;
      bottom: -15px;
      left: 25%;
      height: 1px;
      background: #056c61; }

@media (max-width: 991px) {
  .reviews .one-review {
    width: 70%;
    margin-bottom: 50px; }

  .reviews .revs {
    padding-bottom: 20px; } }
@media (max-width: 767px) {
  .reviews form, .top-fix form {
    max-width: 600px; } }
@media (max-width: 610px) {
  .reviews form, .top-fix form {
    max-width: 450px;
    padding-left: 10px;
    padding-right: 10px; } }
@media (max-width: 480px) {
  .reviews .one-review {
    width: 90%; }

  .reviews form, .top-fix form {
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px; } }
@media (max-width: 410px) {
  .reviews form, .top-fix form {
    max-width: 360px;
    padding-left: 10px;
    padding-right: 10px; } }
@media (max-width: 370px) {
  .reviews form, .top-fix form {
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px; }

  .reviews form input[type="text"], .top-fix form input[type="text"] {
    margin: 10px auto;
    font-size: 12px; }

  .reviews form label, .top-fix form label {
    width: 90%;
    margin: 0 auto; }

  .reviews form button, .top-fix form button {
    width: 90%;
    margin: 15px auto; }

  .reviews form label:before, .top-fix form label:before {
    top: 18px;
    left: 7px; }

  .reviews form button, .top-fix form button {
    font-size: 14px; } }
footer {
  background: #3c3c3c;
  font-family: HelveticaNeueCyr-medium;
  font-size: 25px;
  color: #fff; }
  footer a {
    text-decoration: underline;
    color: #fff; }
    footer a:hover {
      text-decoration: none;
      color: #fff; }
  footer .politic {
    text-decoration: none; }
    footer .politic:hover {
      text-decoration: underline; }
  footer .copyright, footer .politic {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    line-height: 129px; }
  footer .tac {
    text-align: center; }
  footer .copyright {
    float: left; }
  footer .footer-content-wrap {
    padding-top: 35px;
    padding-bottom: 50px; }
  footer .contacts {
    float: right; }
  footer .contacts p {
    text-align: right;
    margin-bottom: 23px; }

@media (max-width: 1500px) {
  footer .footer-content-wrap {
    padding-top: 25px;
    padding-bottom: 35px; } }
@media (max-width: 1400px) {
  footer {
    font-size: 22px; }

  footer .copyright, footer .politic {
    line-height: 120px; } }
@media (max-width: 1199px) {
  footer {
    font-size: 18px; }

  footer .copyright, footer .politic {
    line-height: 114px; } }
@media (max-width: 991px) {
  footer {
    font-size: 14px; }

  footer .footer-content-wrap {
    padding-top: 25px;
    padding-bottom: 20px; }

  footer .copyright, footer .politic {
    line-height: 102px; } }
@media (max-width: 767px) {
  footer {
    font-size: 25px; }

  footer .contacts p {
    margin-bottom: 10px; }

  footer .copyright {
    margin-bottom: 15px;
    white-space: normal;
    overflow: visible; }

  footer .tac {
    margin-bottom: 30px; }

  footer .copyright, footer .politic {
    line-height: 20px; }

  footer .copyright, footer .politic, footer .contacts, footer .contacts p {
    text-align: center !important;
    float: none; } }
@media (max-width: 480px) {
  footer {
    font-size: 20px; } }
@media (max-width: 400px) {
  footer {
    font-size: 16px; } }
.left-close-pall, .right-close-pall {
  width: 200%;
  left: -200%;
  top: -50%;
  height: 300%;
  position: absolute; }

.right-close-pall {
  left: 100%; }

.text-data {
  font-family: 'Segoe UI';
  font-size: 29px;
  color: red;
  font-weight: 100;
  border: 1px solid #a7a7a7;
  width: 100%;
  margin-bottom: 20px;
  display: block; }

.modal .container, .modal-conf .container, .modal-feedback .container, .modal-order .container {
  width: 100%;
  padding: 0; }

.modal-pall, .modal-pall-conf, .modal-pall-conf-binoculus, .modal-pall-feedback, .modal-pall-order {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(33, 31, 30, 0.88);
  top: 0;
  left: 0;
  z-index: 99000;
  display: none; }

.modal-body .leave-order {
  width: 100%;
  color: #616161;
  font-family: HelveticaNeueCyr-medium;
  font-size: 20px;
  padding-bottom: 14px;
  margin-bottom: 14px;
  position: relative; }
  .modal-body .leave-order:before {
    content: "";
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 25%;
    height: 1px;
    z-index: 5000;
    background: #ac4d06; }

.modal-order {
  z-index: 99999; }

.modal-pall-conf-binoculus .modal-header {
  margin-left: 20px;
  margin-top: 20px; }

.modal, .modal-conf, .modal-conf-binoculus, .modal-feedback, .modal-order {
  display: none;
  width: 380px;
  padding: 28px 23px;
  position: fixed;
  margin-left: -300px;
  top: 50%;
  left: 50%;
  height: 550px;
  margin-top: -250px;
  background: #fff;
  border: 10px solid rgba(221, 189, 97, 0.9);
  border-radius: 7px; }

.modal-conf, .modal-feedback, .modal-order, .modal-conf-binoculus {
  width: 80%;
  left: 50%;
  margin-left: -40%; }

.modal-header {
  position: relative;
  border: none;
  padding: 0; }

.modal-body {
  text-align: center;
  overflow: hidden;
  height: 95%;
  padding: 0; }
  .modal-body .wrap-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 15px; }
  .modal-body p {
    text-align: left; }

.modal h2 {
  margin-top: 0;
  padding-bottom: 30px; }

.modal .close-modal, .modal-conf .close-modal, .modal-feedback .close-modal, .modal-order .close-modal {
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  right: 20px;
  top: 10px;
  opacity: .3;
  transition: all .5s ease; }
  .modal .close-modal:hover, .modal-conf .close-modal:hover, .modal-feedback .close-modal:hover, .modal-order .close-modal:hover {
    opacity: 6; }

.visible {
  visibility: visible; }

.modal input, .modal-conf input, .modal-feedback input, .modal-order input {
  border-radius: 4px;
  border: 1px solid #7a7a7a;
  width: 100% !important;
  margin-bottom: 13px;
  padding-top: 14px;
  padding-right: 5px;
  padding-bottom: 14px;
  padding-left: 39px;
  font-size: 25px; }

.modal-order .get-discount {
  background: #ffb21c;
  text-decoration: none;
  border: none;
  width: 100%;
  border-radius: 4px;
  padding: 16px 18px;
  display: block;
  margin: 7px auto 46px;
  text-transform: uppercase;
  color: #fff;
  font-family: HelveticaNeueCyr-light;
  font-size: 20px;
  -webkit-box-shadow: 0px 5px 0px 0px #c78a14;
  -moz-box-shadow: 0px 5px 0px 0px #c78a14;
  box-shadow: 0px 5px 0px 0px #c78a14; }
  .modal-order .get-discount:hover {
    background: #eaa112; }

.modal-order form label {
  width: 100%; }

.modal-order input::-moz-placeholder {
  font-family: HelveticaNeueCyr-light;
  font-size: 20px;
  color: #949494; }
.modal-order input::-webkit-input-placeholder {
  font-family: HelveticaNeueCyr-light;
  font-size: 20px;
  color: #949494; }
.modal-order .input-name:before {
  background: url("images/section1/people-form.png") no-repeat center center; }
.modal-order .input-phone:before {
  background: url("images/section1/phone-form.png") no-repeat center center; }
.modal-order label {
  position: relative;
  margin-right: 15px; }
  .modal-order label:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 25px;
    top: 16px;
    left: 11px; }

.application-wrap {
  border-radius: 2px;
  margin-bottom: 60px; }

@media (max-width: 630px) {
  .modal-order .get-discount {
    font-size: 18px;
    margin-bottom: 5px; }

  .modal-body .leave-order {
    font-size: 18px; }

  .modal, .modal-conf, .modal-feedback, .modal-order {
    width: 320px;
    margin-left: 100px;
    margin-top: -200px; }
    .modal label:before, .modal-conf label:before, .modal-feedback label:before, .modal-order label:before {
      top: 7px;
      left: 11px; }
    .modal input, .modal-conf input, .modal-feedback input, .modal-order input {
      margin-bottom: 10px;
      padding-top: 10px;
      padding-right: 5px;
      padding-bottom: 10px;
      padding-left: 39px;
      font-size: 14px; }
    .modal input::-moz-placeholder, .modal-conf input::-moz-placeholder, .modal-feedback input::-moz-placeholder, .modal-order input::-moz-placeholder {
      font-size: 14px; }
    .modal input::-webkit-input-placeholder, .modal-conf input::-webkit-input-placeholder, .modal-feedback input::-webkit-input-placeholder, .modal-order input::-webkit-input-placeholder {
      font-size: 14px; }
    .modal .submit, .modal-conf .submit, .modal-feedback .submit, .modal-order .submit {
      font-size: 22px;
      width: 100%; } }
.modal-order {
  padding-bottom: 23px;
  height: auto; }

.modal-order {
  width: 100%;
  left: calc(50% - 250px);
  max-width: 500px;
  margin-left: 0; }

@media (max-width: 500px) {
  .modal-order {
    left: 0; }

  html body .feedbacks .application-wrap .modal-feedback {
    left: 0; } }
@media (max-width: 480px) {
  .modal-order .get-discount {
    font-size: 16px;
    margin-bottom: 5px; }

  .modal-body .leave-order {
    font-size: 16px; }

  .modal-order {
    width: 100%;
    left: calc(50% - 250px);
    max-width: 500px;
    margin-left: 0; } }
@media (max-width: 600px) {
  html body .application-wrap .modal-order {
    width: 76%;
    left: 12%;
    margin-left: 0; }
    html body .application-wrap .modal-order input::-moz-placeholder {
      font-size: 16px; }
    html body .application-wrap .modal-order input::-webkit-input-placeholder {
      font-size: 16px; } }
@media (max-width: 400px) {
  html body .application-wrap .modal-order {
    width: 90%;
    left: 5%; }
    html body .application-wrap .modal-order input::-moz-placeholder {
      font-size: 14px; }
    html body .application-wrap .modal-order input::-webkit-input-placeholder {
      font-size: 14px; } }
@media (max-width: 670px) {
  html body .modal-feedback .container .modal-body form input, html body .modal-feedback .container .modal-body form textarea {
    font-size: 18px;
    margin: 5px auto; } }
@media (max-width: 500px) {
  html body .modal-feedback .container .modal-body form input, html body .modal-feedback .container .modal-body form textarea {
    font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
