@import "variables";
@import "head";
.image-stretch { min-height: 550px; width: 100%; background:url("images/mountBig.jpg") no-repeat center fixed; padding: 8% 12%;
  border-top: 2px solid white; box-shadow: inset 0px 150px 250px 50px #311446; display: flex; flex-direction: column;
  justify-content: center; align-items: center; text-align: center;
  .head-stretch{@extend .low-h3; margin-top: 25px; } .describe-stretch{white-space: normal; @extend .low-description; margin-bottom: 45px; word-wrap: break-word; color: white !important;}}

